<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cliente</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div><h1>Cliente</h1></div>
        <div th:if="${globalMessage}" th:text="${globalMessage}">mensagem</div>
        <div>
            <table border="1">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Nome</td>
                        <td>Endereço</td>                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${cliente.id}">id</td>
                        <td th:text="${cliente.nome}">nome</td>
                        <td th:text="${cliente.endereco}">endereco</td>                        
                    </tr>                    
                </tbody>
            </table>
            <div>
                <a href="form.html" th:href="@{'/clientes/alterar/' + ${cliente.id}}">alterar</a>
                | <a href="clientes" th:href="@{'/clientes/remover/' + ${cliente.id}}">remover</a>
                | <a th:href="@{/clientes/}" >voltar</a>
            </div>

        </div>
    </body>
</html>
